@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-y: scroll;

}

body.modal-open {
  overflow-y: hidden;
  scrollbar-gutter: stable;
  height: 100vh;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

@media print {

  body * {
    visibility: hidden;
  }

  .invoice-print,
  .invoice-print * {
    visibility: visible;
  }

  .invoice-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

}