@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-y: scroll
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}